html {
  font-size: 20px;
  color: #fff;
}
body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  max-width: 750px;
  margin: 0 auto;
  background: #eee;
}
header {
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #ff7675;
  box-shadow: 0px 4px 10px #ccc;
}
header h1 {
  font-size: 1rem;
}
#container {
  margin-top: 2rem ;
  padding-left: 5%;
  font-size: .6rem;
  font-family: "console", "微软雅黑";
}
#container .row > span {
  display: inline-block;
  cursor: pointer;
  width: 10%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #00b894;
  border: 1px solid #b2bec3;
  background: #fff;
  border-bottom: 0;
  border-right: 0;
}
#container .row > span.empty {
  color: #fff;
}
#container .row > span.empty.mark1 {
  color: #55efc4;
}
#container .row > span.empty.mark2 {
  color: #ffeaa7;
}
#container .row > span.empty.error {
  color: #fab1a0;
  background: #fab1a0;
}
#container .row > span.error {
  background: #fab1a0;
}
#container .row > span.fixed {
  color: #6c5ce7;
  background: #fdcb6e;
}
#container .row > span.mark1 {
  background: #55efc4;
}
#container .row > span.mark2 {
  background: #ffeaa7;
}
#container .row > span.col_g_right {
  border-right: 1px solid #b2bec3;
}
#container .row > span:first-child {
  border-left: 2px solid #b2bec3;
}
#container .row > span:last-child {
  border-right: 2px solid #b2bec3;
}
#container .row.row_g_bottom > span {
  border-bottom: 1px solid #b2bec3;
}
#container .row:first-child > span {
  border-top: 2px solid #b2bec3;
}
#container .row:last-child > span {
  border-bottom: 2px solid #b2bec3;
}
.popup-num {
  position: absolute;
  margin-top: 2rem ;
  padding-left: 5%;
  font-size: .6rem;
  font-family: "console", "微软雅黑";
  margin: 0 ;
  padding: 0 ;
}
.popup-num .row > span {
  display: inline-block;
  cursor: pointer;
  width: 10%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #00b894;
  border: 1px solid #b2bec3;
  background: #fff;
  border-bottom: 0;
  border-right: 0;
}
.popup-num .row > span.empty {
  color: #fff;
}
.popup-num .row > span.empty.mark1 {
  color: #55efc4;
}
.popup-num .row > span.empty.mark2 {
  color: #ffeaa7;
}
.popup-num .row > span.empty.error {
  color: #fab1a0;
  background: #fab1a0;
}
.popup-num .row > span.error {
  background: #fab1a0;
}
.popup-num .row > span.fixed {
  color: #6c5ce7;
  background: #fdcb6e;
}
.popup-num .row > span.mark1 {
  background: #55efc4;
}
.popup-num .row > span.mark2 {
  background: #ffeaa7;
}
.popup-num .row > span.col_g_right {
  border-right: 1px solid #b2bec3;
}
.popup-num .row > span:first-child {
  border-left: 2px solid #b2bec3;
}
.popup-num .row > span:last-child {
  border-right: 2px solid #b2bec3;
}
.popup-num .row.row_g_bottom > span {
  border-bottom: 1px solid #b2bec3;
}
.popup-num .row:first-child > span {
  border-top: 2px solid #b2bec3;
}
.popup-num .row:last-child > span {
  border-bottom: 2px solid #b2bec3;
}
.popup-num .row span {
  font-size: .8rem;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
footer {
  height: 2rem;
  width: 100%;
  max-width: 750px;
  line-height: 2rem;
  text-align: center;
  background: #ff7675;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -4px 10px #ccc;
}
footer ul {
  font-size: .8rem;
}
footer ul li {
  width: 25%;
  height: 100%;
  cursor: pointer;
  float: left;
  border-right: 1px solid #fff;
  box-sizing: border-box;
}
footer ul li:last-child {
  border-right: 0;
}
footer ul:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
